[submodule "pack/start/packer"]
	path = pack/start/packer
	url = https://github.com/wbthomason/packer.nvim
[submodule "pack/plugins/start/packer"]
	path = pack/plugins/start/packer
	url = https://github.com/wbthomason/packer.nvim
